<body>
  <span class="topmargin"></span>
  <div class="aligningcenter">
    <mat-card class="example-card mat-elevation-z15">
      <h1 class="title">Join our community</h1>
      <a  href="https://www.tutorialspoint.com/How-to-use-an-image-as-a-link-in-HTML" target=" "><img class="appicons " src="https://img.icons8.com/ios/100/000000/instagram-new--v1.png"/></a>
      <a  href="https://www.tutorialspoint.com/How-to-use-an-image-as-a-link-in-HTML" target=" "><img class="appicons" src="https://img.icons8.com/material-sharp/96/000000/discord-logo.png"/></a>
      <a  href="https://www.tutorialspoint.com/How-to-use-an-image-as-a-link-in-HTML" target=" "><img class="appicons" src="https://img.icons8.com/ios/100/000000/telegram-app.png"/></a>
    </mat-card>
  </div>
</body>
